<header>
 <app-fixednav link='assets/k.jpg' [items]='Array'></app-fixednav>
</header>
<div class='body'>
  <div style='position: fixed;display: inline-flex;'>
    <app-icon url='assets/propic.jpg' title='Marvel' ></app-icon>
    <app-posthead theme='title' link='Marvel'></app-posthead>
    </div>
  <div class='menu'>
    <app-verticalmenu [items]='menu'></app-verticalmenu>
  </div>
<section>
  <div class="text">
    <app-new-post></app-new-post>
  </div>
</section>
  <div class='page-container'>
    <br>
    <app-post-card [posts]='posts'></app-post-card>
  </div>
  <div class='adds'>
  </div>

</div>
